# Local Terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# Override files (always generated locally)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan outputs
*.tfplan

